<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <%= stylesheet("reset", erb.filename) %>
    <%= stylesheet("coverage", erb.filename) %>
    <title><%= page_title %></title>
  </head>
  <body>
    <h1><%= project_name %> C0 Coverage Information</h1>
    <h2><%= page_title %></h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Lines</th>
          <th>Lines of Code</th>
          <th>Total Coverage</th>
          <th>Code Coverage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= label %></td>
          <td><%= total %></td>
          <td><%= lines_of_code %></td>
          <td><%= total_coverage %></td>
          <td><%= code_coverage %></td>
        </tr>
      </tbody>
    </table>

    <h3>Key</h3>

    <div id="key" class="code">
      <ol>
        <li class="covered">covered code...</li>
        <li class="not-code">not code...</li>
        <li class="uncovered">uncovered code...</li>
      </ol>
    </div>

    <h3>Coverage Details</h3>

    <div id="coverage-details" class="code">
      <ol>
      <%- each_line do |line| -%>
        <li class="<%= line.class_name%>"><code><%= line.line %></code></li>
      <%- end -%>
      </ol>
    </div>
  </body>
</html>
