<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>C0 Coverage</title>
  </head>
  <body>
    <h1><%= project_name %> C0 Coverage Information</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Lines</th>
          <th>Lines of Code</th>
          <th>Total Coverage</th>
          <th>Code Coverage</th>
        </tr>
      </thead>
      <tbody>
        <%- files.each do |file| -%>
        <tr>
          <td><%= file.label %></td>
          <td><%= file.total %></td>
          <td><%= file.lines_of_code %></td>
          <td><%= file.total_coverage %></td>
          <td><%= file.code_coverage %></td>
        </tr>
        <%- end -%>
      </tbody>
      <tfooter>
        <tr>
          <td>Total</td>
          <td><%= files.inject(0){|memo, file| memo + file.total } %></td>
          <td><%= files.inject(0){|memo, file| memo + file.lines_of_code } %></td>
          <td></td>
          <td></td>
        </tr>
      </tfooter>
    </table>
  </body>
</html>
